body {
    font-family: sans-serif;
}


header {
color:rgb(0, 4, 255) ;
background-color: plum;
padding:10px;
border-radius: 10px;

}

header a {
border-radius:10px;
    color:red;
}

h1{
   color:orange;
   text-align: center;
   text-transform: uppercase
}

h2{
    color:orange;
    text-align: center;

}

footer p {
border: 2px solid gold ;
padding:5px;
}

nav a{
border:2px solid red;
border-radius:10px;

text-decoration:none ;
padding:5px;
}

nav {
text-align: center;
margin: 10px;
}
.er {
background-color:#FF7F50 ;
border-radius:10px;
}

.we{
border: 2px solid rgba(168, 153, 229, 0.737);

border-radius: 10px;
}
